@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --dark-grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

html,
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
}

body {
  background-color: var(--dark-cyan);
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background__top {
  position: absolute;
  top: -130vh;
  left: -45vw;
}

.background__bottom {
  position: absolute;
  right: -35vw;
  top: 50vh;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  position: relative;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card__img {
  background: url(./images/bg-pattern-card.svg) no-repeat;
  background-size: cover;
  max-width: 350px;
  max-height: 140px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 100%;
  width: 100%;
}

.card__content {
  background-color: white;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 100%;
  position: relative;
}

.content__img {
  max-width: 96px;
  border-radius: 100%;
  border: 5px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
}

.card__content--text {
  padding: 72px 54px 0 48px;
}

.content__text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text__name {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
}

.text__age {
  color: var(--dark-grayish-blue);
  margin-left: 8.5px;
}

.text__town {
  font-size: 14px;
  color: var(--dark-grayish-blue);
  text-align: center;
  margin-top: 14px;
}

.card__content--line {
  border-top: 0.5px solid #e8e9ec;
  margin-top: 28px;
  margin-bottom: 24px;
}

.card__content--info {
  padding: 0 54px 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info {
  text-align: center;
}

.number {
  font-weight: 700;
  color: var(--very-dark-desaturated-blue);
  margin: 12px;
}

.text {
  font-size: 10px;
  color: var(--dark-grayish-blue);
  letter-spacing: 1.5px;
}

@media (max-width: 375px) {
  .background__top {
    top: -15vh;
    left: -45vw;
  }

  .background__bottom {
    right: -29vw;
    top: 63vh;
  }
}
